*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-iniciodesesion{
    width: 300px;
    background-image: URL("imagenes/fondo.jpg");
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;

}
.form-iniciodesesion h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    -webkit-text-stroke: 1px black;

}
.controls{
    width: 100%;
    background:white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-size: 14px;
}
.boton {
    width: 100%;
    font-family: 'calibri';
    font: bold 11px ;
    text-decoration: none;
    background-color: #aba6f8;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin-left: auto;
    margin-right: auto;
  }
body{
    background-image:url("imagenes/fondo.jpg");
}
h1{ text-align: center;color: white;}

.caja_grande1{
    width: 400px;
    height: 600px;

    position: relative;
    top: 0px;
    left: 1000px;
}
.caja-form-reg-cliente{
    width: 400px;
    height: 500px;
    
    position: fixed;
    top: 5px;
    left: 850px;
}
.cajafoto{
    width: 200px;
    height: 200px;
   
    position: fixed;
    top: 150px;
    left: 600px;
}
.cajafoto h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px black;

}
.cajadocumentos{
    width: 400px;
    height: 200px;

    position: fixed;
    top: 450px;
    left: 520px;
  
}
.cajadocumentos h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px black;
}
.caja_grande2{
    width: 300px;
    height: 450px;

    position: fixed;
    top: 100PX;
    right: 1000px;
    
}
.caja_grande3{
    width: 430px;
    height: 600px;

    position: fixed;
    top: 120PX;
    right: 450px;
    
}
.caja_grande4{
    width: 500px;
    height: 500px;

    position: fixed;
    top: 120PX;
    left: 600px;
    text-align:left;
    align-items: center;
}
.cuadrotexto{
    width: 300px;
    height: 300px;

    position: fixed;
    top: 120PX;
    left: 1000px;
    text-align:justify;
    align-items: center;
}
.botonesloguec{
    width: 200px;
    height: 30px;

    position: fixed;
    top:550PX;
    left: 700px;
    text-align:justify;
    align-items: center;
}
.cuadrotexto h4{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
    -webkit-text-stroke: 1px black;
}
.enlace{
    font-size: 2rem;
    text-align: center;
}
.caja_pequeña{
    width: 150px;
    height: 150px;
   
    position: fixed;
    top: 150PX;
    left: 600px;
    text-align: center;

}
.caja_pequeña2{
    width: 150px;
    height: 150px;

    position: fixed;
    top: 150PX;
    left: 800px;
    text-align: center;

}
.caja_pequeña3{
    width: 150px;
    height: 150px;

    position: fixed;
    top: 350PX;
    left: 600px;
    text-align: center;


}
.caja_pequeña4{
    width: 150px;
    height: 150px;
 
    position: fixed;
    top: 350PX;
    left: 800px;
    text-align: center;
}
.foto{
    width: 120px;
    height: 120px;
    background: grey;
    position: fixed;
    top: 140px;
    right: 570px;
    text-align: center;

}
.cajacantidad1{
    width: 100px;
    height: 40px;
    background: white;
    position: fixed;
    top: 300PX;
    left: 620px;
    text-align: center;  
}
.cajacantidad1 h5{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    color: white
    -webkit-text-stroke 1px rgb(85, 85, 85);
}
.caja_solicitudes{
    width: 300px;
    height: 450px;

    position: fixed;
    top: 100PX;
    right: 1000px;
}
.fotos_solicitudes{
    width: 130px;
    height: 390px;

    position: fixed;
    top: 130px;
    right: 570px;
    text-align: center;
   

}
.cuadrotexto1{
    width: 300px;
    height: 100px;
 
    position: fixed;
    top: 130PX;
    left: 1000px;
    text-align:justify;
    align-items: center;
}
.cuadrotexto2{
    width: 300px;
    height: 100px;

    position: fixed;
    top: 270PX;
    left: 1000px;
    text-align:justify;
    align-items: center;
}
.cuadrotexto3{
    width: 300px;
    height: 100px;
  
    position: fixed;
    top: 400PX;
    left: 1000px;
    text-align:justify;
    align-items: center;
}
.chatstecnico1{
    width: 600px;
    height: 150px;
    background-image: URL("imagenes/fondo.jpg");
    position: fixed;
    top: 100PX;
    left: 620px;
    text-align: center;  
}
.chatstecnico2{
    width: 600px;
    height: 150px;
    background-image: URL("imagenes/fondo.jpg");
    position: fixed;
    top: 300PX;
    left: 620px;
    text-align: center;  
}
.chatstecnico3{
    width: 600px;
    height: 150px;
    background-image: URL("imagenes/fondo.jpg");
    position: fixed;
    top: 500PX;
    left: 620px;
    text-align: center;  
}
.cajacalificacion{
    width:600px;
    height: 450px;

    position: fixed;
    top: 120PX;
    right: 250px;
}
.cajaselecciontecnicos{
    width: 600px;
    height: 170px;
 
    position: fixed;
    top: 120px;
    left: 550px;

}
.cajaselecciontecnicos2{
    width: 600px;
    height: 170px;
   
    position: fixed;
    top: 320px;
    left: 550px;

}
